// =====================================================
// TEMPLATE EMPTY RESULTS
// =====================================================
// Empty Results
// =====================================================

// Empty Results
// -----------------------------------------------------
.template-empty-results {
  padding-top: 60px;
  padding-bottom: 60px;

  p {
    font-size: 20px;
  }

  > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
