<div class="template-team cell small-12 medium-6 large-4" data-autoload-template="team">

    <div class="template-team-image-container">
        {{#if image}}
            <div class="template-team-image lazy-image" data-src="{{image}}"></div>
        {{/if}}
    </div>

    <div class="template-team-details grid-x align-bottom align-center">
        <div class="cell">
            <h3 class="template-team-title">{{name}}</h3>
            <p class="template-team-position small-label">{{position}}</p>

            <p class="template-team-description">{{description}}</p>
        </div>
    </div>

    {{!-- <a class="template-team-link" href="{{permalink}}"></a> --}}
</div>
