@import "foundation-common";
@import "theme";
@import "mixins";

.template-team {
  position: relative;

  &-link {
    @include position-absolute();

    z-index: 2;
  }

  &-image-container {
    position: relative;
    background: white;
    height: 350px;
    overflow: hidden
  }

  &-image {
    @include position-absolute();

    transition: transform 0.4s ease-out;
  }

  &-details {
    position: relative;
    background-color: white;
    padding: 20px;
  }

  &-position {
    margin: 0;
    height: 30px;
  }

  &-description {
    height: 288px;
    overflow: hidden;
    margin-bottom: 0;
  }

  &-title {
    margin: 0.5rem 0;
  }
}