@import "foundation-common";
@import "theme";

// =====================================================
// BUTTONS
// =====================================================
// Variables
// Button
// Button Group
// Themes
// =====================================================

// Variables
// -----------------------------------------------------
$button-padding-small: 16px 15px;
$button-padding: 15px 20px;
$button-margin: 10px;

// Button
// -----------------------------------------------------
.button {
  display: none;
  position: relative;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  line-height: 1;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 200ms, border 200ms, color 200ms;

  // Sizes
  // -------------------------

  // Small
  @include breakpoint(small down) {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: $button-padding-small;
  }

  // Medium up
  @include breakpoint(small) {
    width: auto;
    padding: $button-padding;
  }
  @include breakpoint(medium) {
    min-width: 155px;
  }
}

// Button Group
// -----------------------------------------------------
.button-group {
  display: flex;
  flex-wrap: wrap;

  &-margin-top {
    padding-top: 3.5rem;

    &-xsmall {
      padding-top: 0.5rem;
    }

    &-small {
      padding-top: 2.5rem;
    }
  }

  // Small
  @include breakpoint(small down) {
    margin: (-$button-margin) 0; // Offset button margins
    width: 100%;

    .button {
      margin: $button-margin auto;
    }
  }

  // Medium Up
  @include breakpoint(medium) {
    margin: 0 -$button-margin; // Offset button margins
    width: calc(100% + #{$button-margin * 2});

    .button {
      margin: $button-margin;
    }
  }
}

// Themes
// -----------------------------------------------------
// When adding a new theme be sure to map it in the $buttonThemes
// variable in the Button Component Class
// -----------------------------------------------------

.button {
  // Primary
  &.theme-primary {
    background: $primary-color;
    color: $space;

    &:hover {
      background: lighten($primary-color, 5%);
    }
  }

  // Secondary
  &.theme-secondary {
    background: $secondary-color;
    color: white;

    &:hover {
      background: lighten($secondary-color, 5%);
    }
  }
}
