@import "foundation-common";
@import "mixins";
@import "theme";

$menu-separator: "|";
$menu-separator-padding: 4px;

$footer-background-color: $secondary-color;
$footer-top-background-color: $footer-background-color;
$footer-bottom-background-color: $footer-background-color;
$footer-font-color: white;


footer {
  clear: both;
  background: $footer-background-color;
  padding: 75px 0 30px;
  color: $footer-font-color;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;

  h4 {
    font-size: 14px;
    text-transform: uppercase;
  }

  a {
    color: white;
    display: block;
  }

  @include breakpoint(small down) {
    padding: 55px 0 0;
  }
}

.footer {
  // Top
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $footer-top-background-color;
    color: $footer-font-color;

    @include breakpoint(small down) {
      flex-direction: column;
    }
  }

  // Logo
  &-nav-logo {
    display: flex;
    align-items: center;

    &-content {
      margin-left: 75px;

      h4 {font-weight: 400;}

      h4, h2 {
        margin: 0;
        color: white;
      }

      a h2:hover {color: $primary-color;}
    }

    @include breakpoint(medium down) {
      width: 70%;

      &-content {
        margin-left: 40px;
      }
    }

    @include breakpoint(small down) {
      width: 100%;
      &-content {
        margin-left: 20px;
      }
    }
  }

  // Menu main
  &-nav-main {
    margin: 30px 0;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include breakpoint(small down) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-right: 9.5px;
      }
    }

    .menu {      
      > li {
        color: $footer-font-color;
        font-size: 1rem;
        font-weight: 700;
        margin-left: 30px;

        > a {
          font-weight: 400;
          text-transform: uppercase;
          &:hover,
          &:focus {
            color: $primary-color;
            outline: none;
          }
        }

        @include breakpoint(medium down) {
          margin-left: 15px;
        }

        @include breakpoint(small down) {
          margin-left: 0;
          margin-right: 9.5px;
        }
      }

      ul {
        font-size: 1rem;
        color: $footer-font-color;
        margin-bottom: 30px;

        a {
          line-height: (26 / 12);
          font-weight: 500;

          &::before {
            content: "";
            display: inline-block;
            width: 7 / 12 * 1em;
            height: 7 / 12 * 1em;
            margin-right: 4 / 12 * 1em;
            transition: margin-right 0.2s ease-out;
            background-size: contain;
            background-image: url(~icons/arrows/angle-right.svg);
          }

          &:hover,
          &:focus {
            color: $primary-color;
            outline: none;
            &::before {
              margin-right: 1em;
            }
          }
        }
      }

      @include breakpoint(medium) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
      }
    }
  }

  // Bottom
  &-bottom {
    font-size: 0.75rem;
    margin-top: 45px;
    background: $footer-bottom-background-color;
    color: $footer-font-color;

    @include breakpoint(small down) {
      margin-top: 25px;
    }

    &-content {
      padding: 20px 0;
      border-bottom: 1px solid $border-color;

      @include breakpoint(medium) {
        padding: 0;
        min-height: 70px;
      }
    }

    // Social Media
    .component-social-media {
      margin-top: 10px;

      @include breakpoint(medium) {
        margin-top: 0;
      }

      @include breakpoint(small down) {
        text-align: center;
      }

      a {
        font-size: 24px;

        svg {
          width: 20px;
          height: 20px;

          &:hover {color: $primary-color;}
        }

        @include breakpoint(medium) {
          font-size: 30px;
        }
      }
    }

    // Legals
    &-legals {
      width: 100%;
      @include breakpoint(430px) {
        display: inline-flex;
        align-items: center;
      }

      p  {margin: 0; }
    }

    &-rights {
      min-height: 70px;
      .small-label {font-weight: 400;}
    }
  }

  // Legal Menu
  &-nav-legals {
    display: inline-block;

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-wrap: wrap;
    }

    li {
      margin: 0;
      a {
        display: inline;
        font-family: $secondary-font-family;
        font-size: 16px;
        line-height: 25px;
        font-weight: $font-weight-regular;
        margin-left: 30px;

        @include breakpoint(small down) {
          margin-left: 0px;
          margin-right: 15px;
        }
      }
    }

    @include breakpoint(small down) {
      width: 100%;
    }
  }
}
