@import "foundation-common";
@import "theme";

// Variables
// -----------------------------------------------------
$input-padding-horizontal: 14px;
$input-padding-vertical: 14px;

// Form
// -----------------------------------------------------
.component-form {
  position: relative;

  // Gravity Forms
  // -------------------------

  .gform_fields {
    padding: 0;
    list-style: none;
  }

  .gfield {
    @include breakpoint(small down) {
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    textarea,
    .select-wrap {
      width: 100%;
    }
  }

  .gfield_radio,
  .gfield_checkbox {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // Footer
  .gform_footer {
    margin-top: 30px;
  }

  // Hidden Field
  .gform_hidden {
    position: fixed !important;
    padding: 0 !important;
    margin: 0 !important;
    text-indent: -999;
    left: -999px;
  }

  // Honeypot
  .gform_validation_container {
    position: absolute !important;
    left: -999px;
    top: -999px;
    visibility: hidden;
  }

  // Errors
  .gfield {
    position: relative;

    p {
      font-size: 16px;
      line-height: 25px;
    }

    label.error,
    .validation_message {
      display: block;
      position: absolute;
      margin: 4px 0 0;
      top: 100%;
      font-size: 12px;
    }
  }

  .button {
    // border-radius: 5px;
    font-family: $primary-font-family;
    @include breakpoint(small down) {
      font-size: 16px;
      line-height: 1.3;
      padding: 15px 20px;
    }
  }

  input, input::placeholder, .gfield select, option, textarea, textarea::placeholder, .gf_placeholder {
    font-family: $secondary-font-family;
    font-size: 16px;
    line-height: 25px;
    color: $fiord;
  }
}

.gfield {
  position: relative;

  select {
    &.dirty {
      color: inherit;
    }
  }

  label.error,
  .validation_message {
    color: $warning-color;
  }

  input[type="radio"],
  input[type="checkbox"] {
    padding: 0;
  }

  :placeholder-shown {
    color: transparent;
    transition: box-shadow 0.2s; // Avoid the placeholder flashing for a moment after deleting the input content
  }
}

.gfield_label {
  color: $secondary-font-color;
}

.ginput_container { 
  margin-top: 15px;
}

.gfield_checkbox { 
  display: flex;
  justify-content: space-between;
  
  li { 
    display: flex;
    align-items: center;

    input {
      margin: 0;
      padding: 0;
    }

    label { margin-left: 20px; }
  }
}

.gform_footer {
  justify-content: flex-end;
}

