@import "foundation-common";

.post-header {
  &-inner {
    height: auto;
    padding: 40px 0;

    @include breakpoint(medium) {
      min-height: 340px;
    }

    @include breakpoint(large) {
      min-height: 400px;
    }

    @include breakpoint(xlarge) {
      min-height: 400px;
    }
  }

  &-title {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(12);
  }
  &-author {
    font-size: 1rem;
  }
}
