@import "foundation-common";
@import "theme";
// =====================================================
// FORM
// =====================================================
// Form
//  - Wrapper
//  - Loading
// =====================================================

// Form
// -----------------------------------------------------
.mod-form {
  // Wrapper
  // -------------------------
  .gform_wrapper {
    margin: 0 auto;
  }

  .form-container {
    padding: 30px;
    background-color: white;

    h3 {margin-top: 0;}
  }

  .content-container + .form-container {
    padding-top: 30px;
  }

  .title-block {
    margin-bottom: 1.5rem;
  }

  .rte {
    color: $primary-font-color;
    font-size: 20px;
    line-height: 30px;
  }
}
