// =====================================================
// PROJECT SETTINGS
// =====================================================
// Colours
// Typography
// Header
// Wordpress
// =====================================================

// Colours
// -----------------------------------------------------
$fiord: #575757;
$mercury: #e5e5e5;
$pale: #68727d;
$desert: #f9f9f8;
$space: #272628;
$rose: #ea6262;
$sun: #E5991B;

// Theme
$primary-color: $sun;
$secondary-color: $space;
$success-color: #3adb76;
$warning-color: $rose;
$error-color: #ec1c24;

// Font
$primary-font-color: $fiord;
$secondary-font-color: $space;

// Other
$border-color: $fiord;
$light-bg-color: $desert;
$dark-bg-color: $space;

// Typography
// -----------------------------------------------------

// Family
$primary-font-family: "Oswald", "Montserrat", Helvetica Neue, Bitstream Vera Sans, Arial;
$secondary-font-family: "Roboto", "Montserrat", Helvetica Neue, Bitstream Vera Sans, Arial;

// Size
$base-font-size: 16px;
$base-lineheight: 1.5;

// Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Header
// -----------------------------------------------------
$header: (
  small: (
    height: 0,
    top-bar-height: 55px
  ),
  medium: (
    height: 0,
    top-bar-height: 60px
  ),
  large: (
    height: 0,
    top-bar-height: 120px
  ),
  xlarge: (
    height: 0,
    top-bar-height: 120px
  )
);

// Module
// -----------------------------------------------------
$module-padding-small: 40px 0;
$module-padding-medium: 60px 0;
$module-padding-large: 80px 0;
$module-padding-x-large: 80px 0;

// Wordpress
// -----------------------------------------------------
$wp-adminbar-height: 46px;
$wp-adminbar-height-desktop: 32px;
$wp-tablet-adminbar-breakpoint: 783px;
