.icon {
  position: relative;
  display: block;
  width: 1em; // Inherit parent font size for width
  height: 1em; // Inherit parent font size for height
  fill: currentColor; // Inherit the parent text colour

  &:not(.icon-has-color) {
    path {
      fill: currentColor; // Inherit the parent text colour
    }
  }
}
