@import "foundation-common";
@import "theme";

.mod-media-feature {
  overflow-x: hidden;

  .media-feature {
    

    // Media
    &-media {
      
    }

    &-media-wrapper {
      position: relative;
      

      @include breakpoint(medium) {
        height: 100%;
      }
    }

    &-image {
      width: 100%;
    }

    &.gutters-off {
      @include breakpoint(medium) {
        .media-feature-image {
          width: calc(50vw - 30px);
        }

        &.media-position-right {
          .media-feature-image {
            right: auto;
            left: 0;
          }
        }
      }
    }

    // Text
    &-text {
      margin: auto;

      .title-block {
        margin-bottom: 1.5rem;

        &-subtitle { margin: 0 0 0.8em; }

        &-title { margin: 0; }
      }

      .rte {
        p {color: black;}
      }
    }

    &.gutters-off {
      @include breakpoint(medium) {
        .media-feature-text {
          padding: 40px 30px;
        }
      }
    }
  }

  .media-position-right {
    .media-feature-text { 
      padding-right: 90px; 

      @include breakpoint(medium down) {
        padding-right: 30px; 
      }

      @include breakpoint(small down) {
        padding-right: 0px; 
      }
    }
  }

  .media-position-left {
    .media-feature-text { 
      padding-left: 90px; 

      @include breakpoint(medium down) {
        padding-left: 30px; 
      }

      @include breakpoint(small down) {
        padding-left: 0px; 
      }
    }
  }
}