@import "mixins";

.component-image {
  @include position-absolute();

  .image {
    @include position-absolute();

    background: 50% 50% / cover no-repeat transparent;
  }

  .overlay {
    @include position-absolute();
    background: black;
    opacity: 0.5;
  }
}
