@import "foundation-common";
@import "theme";
@import "mixins";

.template-post {
  position: relative;
  display: flex;

  &-link {
    @include position-absolute();

    z-index: 2;
  }

  &-inner {
    position: relative;
    width: 100%;
  }

  &-image-container {
    position: relative;
    background: #e7e7e7;
    height: 180px;
    overflow: hidden;

    @include breakpoint(medium) {
      height: 274px;
    }
  }
  &-image {
    @include position-absolute();

    transition: transform 0.4s ease-out;
  }

  &-details {
    text-align: center;
    padding: 30px;
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 1px 1px;
    box-shadow: inset 0 -1px 0 0 $border-color;
    transition: box-shadow 200ms, border 200ms;

    @include breakpoint(medium) {
      padding: 30px 10px;
    }

    @include breakpoint(large) {
      padding: 40px;
    }
  }

  &-inner {
    &:hover {
      .template-post-details {
        border-color: $border-color;
        box-shadow: inset 0 -5px 0 0 $primary-color,
          0 10px 30px 0 rgba(black, 0.1);
      }
    }
  }

  &-date {
    margin: 0;
  }

  &-title {
    margin: 0.7rem 0 1rem;
  }
}
