<div class="template-post cell small-12 medium-4" data-autoload-template="post">
    <div class="template-post-inner">

        <div class="template-post-image-container">
            {{#if image}}
                <div class="template-post-image lazy-image" data-src="{{image}}"></div>
            {{/if}}
        </div>

        <div class="template-post-details">
            <p class="template-post-date small-label">{{date}}</p>

            <h5 class="template-post-title">{{{title}}}</h5>

            <a class="template-post-read-more text-link" href="{{permalink}}">READ MORE</a>
        </div>

        <a class="template-post-link" href="{{permalink}}"></a>
    </div>
</div>
