@import "foundation";
@import "mixins";
@import "theme";

@import "header-fixed";

// =====================================================
// HEADER
// =====================================================
// Variables
// Header
//  - Header Top
//  - Header Bottom
//  - Header Logo
// =====================================================

// Variables
// -----------------------------------------------------
$header-layout-max-width: $global-width;
$header-top-background-color: #fff;
$header-bottom-background-color: rgba($primary-color, 0.9);
$header-box-shadow: 0 2px 4px 0 rgba(#000, 0.15);
$header-transition-duration: 200ms;
$logo-sizes: (
  small: (
    padding: 10px 0,
    height: 100%
  ),
  medium: (
    padding: 12px 0
  ),
  large: (
    padding: 25px 0,
    height: 100%
  ),
  xlarge: (
    padding: 25px 0,
    height: 100%
  )
);

// Header
// -----------------------------------------------------
header {
  position: relative;
  z-index: 100;
  clear: both;
  width: 100%;
  padding: 0;

  @include breakpoint(medium down) {
    border-bottom: 1px solid $border-color;
  }

  transition: margin $header-transition-duration;

  ul {
    padding-left: 0;
  }

  // Header Top
  // -------------------------

  .header-top {
    width: 100%;
    background: $secondary-color;

    > .grid-container {
      position: relative;
      //max-width: $header-layout-max-width;
      height: 100%;
    }

    // Sizes
    @include -zf-each-breakpoint {
      @each $headerBreakpoint, $headerAttributes in $header {
        @if $headerBreakpoint == $-zf-size {
          $height: map-deep-get($headerAttributes, top-bar-height);

          @if $height == 0 {
            display: none;
          } @else {
            display: block;
            height: $height;
          }
        }
      }
    }

    // Search Form
    .component-search-form {
      display: inline-block;
      vertical-align: middle;

      input[type="text"] {
        width: 160px;
        border: none;
        padding: 8px 20px;
        background: rgba(#000, 0.2);
        border-radius: 9999px;
        color: #fff;

        @include placeholder() {
          width: 160px;
          color: #aaa;
        }
      }
    }
  }

  // Header Bottom
  // -------------------------

  .header-bottom {
    position: relative;
    height: 1000%;
    background: $header-bottom-background-color;

    > .grid-container {
      position: relative;
      max-width: $header-layout-max-width;
      height: 100%;
    }

    // Sizes
    @include -zf-each-breakpoint {
      @each $headerBreakpoint, $headerAttributes in $header {
        @if $headerBreakpoint == $-zf-size {
          height: map-deep-get($headerAttributes, height);
        }
      }
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  // Header Logo
  // -------------------------

  .header-logo {
    // Sizes
    @include -zf-each-breakpoint {
      @each $breakpoint, $attributes in $logo-sizes {
        @if $breakpoint == $-zf-size {
          @include get-css-attributes($attributes);
        }
      }
    }

    a {
      display: block;

      .logo {
        width: 110px;
        height: 72px;
        background-size: cover;

        @include breakpoint(medium down) {
          width: 55px;
          height: 36px;
        }
      }
    }
  }
}

.header-top-button-wrapper {
  margin-right: -5px;
  @include breakpoint(medium) {
    margin-left: 35px;
  }
  .button {
    margin: 0 5px;
    width: auto;
    @include breakpoint(medium down) {
      display: none;
      &:first-of-type {
        display: inline-block;
      }
    }
  }
}

.header-top-grid {
  height: 100%;
  flex-wrap: nowrap;
}

.header-top-content {
  flex-wrap: nowrap;
}

.header-logo-no-logo {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint(large) {
    font-size: 4rem;
  }

  header & {
    padding: 0;
  }
}
