@import "foundation";
@import "theme";

// =====================================================
// FIXED HEADER
// =====================================================
// Fixed Header
//  - Admin Bar
//  - Header
//  - Sizes
//      - Module Offset
//      - Compact
// =====================================================

// Fixed Header
// -----------------------------------------------------
.header-fixed {
  // Admin Bar
  // -------------------------

  &.admin-bar header {
    top: $wp-adminbar-height;

    @include breakpoint($wp-tablet-adminbar-breakpoint) {
      top: $wp-adminbar-height-desktop;
    }
  }

  // Header
  // -------------------------
  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  // Sizes
  // -------------------------
  @include -zf-each-breakpoint {
    @each $size, $attributes in $header {
      @if $size == $-zf-size {
        main {
          padding-top: map-deep-get($attributes, height) +
            map-deep-get($attributes, top-bar-height);
        }

        // Module Offset
        header + .module {
          //margin-top: map-deep-get($attributes, height) + map-deep-get($attributes, top-bar-height);
        }

        // // Compact
        // &.compact-header {
        //
        //     header {
        //         margin-top: -(map-deep-get($attributes, top-bar-height));
        //     }
        // }
      }
    }
  }
}
