@import "foundation-common";
@import "theme";
@import "mixins";

// =====================================================
// POST LISTING
// =====================================================
// Variables
// Post Listing
//  - Loader
//  - Posts
// =====================================================

// Variables
// -----------------------------------------------------
$loader-background-color: rgba(#fff, 0.8);
$loader-size: 40px;
$loader-symbol-color: #282828;

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Post Listing
// -----------------------------------------------------
.mod-post-listing {
  // Loader
  // -------------------------
  .loader {
    @include position-absolute($left: -9999px);

    background: transparent;
    z-index: 10;
    transition: background 200ms;

    &::after {
      @include pseudo-elem();

      position: absolute;
      width: $loader-size;
      height: $loader-size;
      top: 50%;
      left: 50%;
      margin-top: -($loader-size / 2);
      margin-left: -($loader-size / 2);
      z-index: 15;
      border: 5px solid $loader-symbol-color;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: $loader-size;
      animation: loader 750ms infinite linear;
    }
  }

  &.loading {
    .loader {
      background: $loader-background-color;
      left: 0;
    }
  }

  // Filter
  // -------------------------
  .row-filter {
    padding-bottom: 40px;
    margin-bottom: -10px;

    form {
      display: block;
      width: 100%;
    }

    input,
    select {
      width: 100%;
    }
  }

  // Load More
  // -------------------------

  .load-more {
    display: block;
    margin: 0 auto;

    @include breakpoint(small down) {
      width: auto;
    }

    @include breakpoint(medium) {
      margin-top: 40px;
    }
  }

  // Pagination
  // -------------------------

  .pagination-container {
    display: inline-flex;
    width: 100%;
    margin-top: 3.5rem;
    @include flex-align(center, middle);

    .page-numbers {
      position: relative;
      height: 40px;
      width: 40px;
      text-align: center;
      color: $primary-font-color;
      border: 1px solid $border-color;
      line-height: 40px;
      font-size: 16px;

      + .page-numbers {
        border-left: none;
      }

      &:hover,
      &.current {
        color: $primary-color;
      }

      &.current {
        cursor: default;
      }

      &.prev,
      &.next {
        font-size: 12px;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // Posts
  // -------------------------
  .post-list {
    position: relative;
    min-height: 140px;

    > .row {
      position: relative;
    }
  }

  // Announcements
  // -------------------------
  .announcement-tabs {
    display: flex;
    margin-bottom: 8px;
    overflow-x: scroll;

    &-box {
      cursor: pointer;
      flex-shrink: 0;
      width: 80px;
      margin: 0 20px 25px 0;
      padding: 7.5px;
      font-weight: 500;
      font-family: $secondary-font-family;
      font-size: 12px;
      color: #b2b2b2;
      border: none;
      background: initial;
      border-bottom: 3px solid #b3b3b3;

      &:hover {
        color: $sun;
        border-bottom: 3px solid $sun;
      }
    }

    .active {
      border-bottom: 3px solid $sun;
      p {
        color: $sun;
      }
    }
  }
}
