@import "mixins";
@import "theme";

.mod-logo-slider {
    .slider {
        &-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            .title-block {margin-bottom: 0;}
        }

        &-buttons {
            display: flex;
            button {
                position: relative;
                background-color: $sun;
                border: none;
                width: 50px;
                height: 50px;
                margin-left: 15px;

                &:hover {
                    background: lighten($sun, 5%);
                    cursor: pointer;
                }
            }
        }

        &-logo-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            width: 100%;
            background: rgba(255, 255, 255, 0.1);

            img {
                width: 120px;
                height: 90px;
                object-fit: contain;
            }
        }
    }
}