.component-social-media {
  line-height: 0;
  a {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    color: currentColor;
    text-decoration: none;
    transition: color 200ms, background 200ms;
  }
}
