@import "foundation-common";

.page-header {
  &-inner {
    height: auto;
    padding: 40px 0;

    @include breakpoint(medium) {
      min-height: 340px;
    }

    @include breakpoint(large) {
      min-height: 400px;
    }

    @include breakpoint(xlarge) {
      min-height: 400px;
    }
  }

  &-breadcrumbs {
    display: none;
  }
}
