@import "foundation";
@import "foundation-common";
@import "theme";


.single-team-member {
    .vcard {
        &-header {
            width: 100%;
            height: 20rem;
            background: linear-gradient(
                0deg, rgba(229, 153, 27, 0.6), rgba(229, 153, 27, 0.6)), url('https://ntaw.dev.lamb.com.au/wp-content/uploads/2021/05/main_sand-min-1422x800.jpg');
            mix-blend-mode: darken;
            background-size: cover;
        }

        &-body {
            margin: -8rem 0 3rem;

            .general {
                img {
                    width: 12rem;
                    height: 12rem;
                    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.05));
                    border-radius: 50%;
                    background: white;
                }
                .small-label {color: #363535;}
            }

            .profile-picture-wrapper{
                min-height: 10rem;
                @include breakpoint(small) {
                    min-height: 8rem;
                }
            }
            .pusher {
                line-height: 32px;
            }
            .address1 {
                margin-top: 2.5rem;
            }

            .contact {
                margin: 3rem 0rem 4rem;

                .button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    min-width: 10rem;
                    height: 3rem;
                    padding: 0.75rem 0;
                    cursor: pointer;

                    // Primary
                    &.theme-primary {
                        background: $primary-color;
                        color: $space;
                    
                        &:hover {
                            background: lighten($primary-color, 5%);
                        }
                    }
                  
                    // Secondary
                    &.theme-secondary {
                        background: $secondary-color;
                        color: white;
                    
                        &:hover {
                            background: lighten($secondary-color, 5%);
                      }
                    }

                    &::before {margin-right: 1rem;}

                    &.mobile {
                        &::before {content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.99 15.784C20.032 16.108 19.934 16.392 19.694 16.632L16.878 19.428C16.75 19.57 16.586 19.69 16.38 19.788C16.176 19.886 15.974 19.95 15.776 19.978C15.762 19.978 15.72 19.982 15.648 19.988C15.578 19.996 15.486 19.998 15.372 19.998C15.104 19.998 14.67 19.952 14.07 19.86C13.47 19.768 12.736 19.542 11.868 19.182C11 18.822 10.016 18.282 8.91404 17.562C7.81404 16.842 6.64204 15.852 5.40004 14.596C4.41204 13.622 3.59404 12.69 2.94404 11.8C2.29404 10.91 1.77204 10.088 1.37804 9.332C0.982035 8.576 0.686035 7.892 0.488035 7.276C0.290035 6.66 0.156035 6.132 0.0860352 5.688C0.0160352 5.244 -0.0119648 4.894 0.00203516 4.64C0.0160352 4.386 0.0240352 4.244 0.0240352 4.216C0.0520352 4.018 0.116035 3.816 0.214035 3.612C0.312035 3.408 0.432035 3.242 0.574035 3.114L3.39204 0.296C3.58804 0.098 3.81404 0 4.06804 0C4.25204 0 4.41404 0.052 4.55404 0.158C4.69404 0.264 4.81604 0.394 4.91404 0.55L7.18004 4.85C7.30804 5.076 7.34204 5.324 7.28604 5.592C7.23004 5.86 7.11004 6.086 6.92604 6.27L5.88804 7.308C5.86004 7.336 5.83604 7.382 5.81404 7.446C5.79204 7.51 5.78204 7.562 5.78204 7.604C5.83804 7.9 5.96604 8.24 6.16404 8.62C6.33404 8.958 6.59404 9.372 6.94804 9.86C7.30004 10.348 7.80204 10.908 8.45204 11.544C9.08804 12.194 9.65204 12.698 10.146 13.058C10.64 13.418 11.052 13.682 11.384 13.852C11.716 14.022 11.97 14.124 12.146 14.16L12.41 14.212C12.438 14.212 12.484 14.202 12.548 14.18C12.612 14.158 12.658 14.134 12.686 14.106L13.892 12.878C14.146 12.652 14.442 12.54 14.782 12.54C15.022 12.54 15.212 12.582 15.354 12.668H15.376L19.462 15.084C19.758 15.268 19.934 15.502 19.99 15.784Z' fill='white'/%3E%3C/svg%3E%0A");}
                    }

                    &.email {
                        &::before {content: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.664885 0H19.3375C19.5135 0.000213066 19.6822 0.072548 19.8067 0.201136C19.9311 0.329725 20.0012 0.504067 20.0014 0.685918V1.92062C20.0014 1.99688 19.9429 2.03774 19.8825 2.07993L19.8705 2.08835C19.8187 2.12484 19.6834 2.20288 19.6267 2.23559L19.6219 2.23836L10.1038 8.0233C10.0783 8.03885 10.0492 8.047 10.0196 8.04692C9.99066 8.04718 9.96215 8.03949 9.93701 8.02465L0.122278 2.23272C0.0677311 2.2032 0.000976562 2.13021 0.000976562 2.06661V0.686186C0.00111404 0.504288 0.0710972 0.329877 0.195567 0.201231C0.320037 0.0725847 0.488824 0.000213189 0.664885 0ZM19.8334 4.12549C19.8628 4.1253 19.8917 4.13313 19.9173 4.14819C19.9426 4.16327 19.9635 4.18499 19.9781 4.21114C19.9926 4.2373 20.0003 4.26696 20.0001 4.29712V13.5707C20.0001 13.6161 19.9826 13.6597 19.9515 13.6919C19.9203 13.724 19.8782 13.7421 19.8342 13.7422C19.8114 13.7422 19.7888 13.7374 19.7679 13.728C19.747 13.7186 19.7283 13.7047 19.7129 13.6874L14.3257 7.6878C14.3088 7.66903 14.2962 7.64657 14.2888 7.62207C14.2814 7.59757 14.2794 7.57166 14.283 7.54627C14.2866 7.52088 14.2957 7.49665 14.3097 7.4754C14.3236 7.45414 14.3419 7.43639 14.3634 7.42347L19.7497 4.14926C19.7751 4.13388 19.804 4.12568 19.8334 4.12549ZM12.8107 8.52301C12.7852 8.49424 12.7508 8.4754 12.7134 8.46964C12.676 8.46388 12.6379 8.47154 12.6053 8.49135L10.4463 9.80387C10.3198 9.87939 10.1765 9.91961 10.0304 9.9206C9.88429 9.92159 9.74046 9.8833 9.61302 9.80951L7.71298 8.68805C7.68231 8.67 7.64687 8.66251 7.6118 8.66666C7.57673 8.67081 7.54385 8.68638 7.51792 8.71113L0.302712 15.6256C0.283797 15.6439 0.269274 15.6664 0.260301 15.6915C0.251328 15.7166 0.248153 15.7435 0.251029 15.7701C0.253905 15.7967 0.262752 15.8222 0.276867 15.8447C0.290981 15.8671 0.309971 15.8858 0.332323 15.8993C0.444533 15.9675 0.552847 15.9999 0.662979 15.9999H19.1446C19.177 16 19.2086 15.9902 19.2356 15.9719C19.2627 15.9535 19.2838 15.9273 19.2966 15.8966C19.3095 15.8661 19.3135 15.8323 19.3081 15.7994C19.3027 15.7666 19.288 15.7361 19.2659 15.7117L12.8107 8.52301ZM5.97341 7.82697C5.96433 7.85217 5.94965 7.87481 5.93054 7.89306L0.278221 13.3109C0.254629 13.3338 0.22506 13.349 0.193174 13.3547C0.161287 13.3604 0.128483 13.3563 0.0988215 13.343C0.06916 13.3296 0.0439432 13.3075 0.0262923 13.2795C0.00864145 13.2515 -0.000668693 13.2187 -0.000485633 13.1853V4.43154C-0.000539579 4.40156 0.00702494 4.3721 0.0214515 4.34609C0.0358781 4.32008 0.0566611 4.29844 0.0817219 4.28334C0.106783 4.26823 0.135243 4.26019 0.164257 4.26001C0.193271 4.25984 0.22182 4.26753 0.247052 4.28233L5.90067 7.61853C5.92322 7.63195 5.94241 7.65065 5.95668 7.67314C5.97094 7.69563 5.97989 7.72127 5.9828 7.74799C5.98571 7.77471 5.98249 7.80177 5.97341 7.82697Z' fill='white'/%3E%3C/svg%3E%0A");}
                    }

                    &.map {
                        &::before {content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6077 11.9072L10.0044 20L4.39271 11.8958C2.29946 9.10495 2.60335 4.49952 5.05162 2.05161C6.37456 0.728674 8.1336 0 10.0044 0C11.8752 0 13.6343 0.728674 14.9572 2.05198C17.4055 4.49988 17.7094 9.10532 15.6077 11.9072ZM12.6258 6.93986C12.6258 5.53036 11.4789 4.38311 10.069 4.38311C8.65918 4.38311 7.5123 5.53036 7.5123 6.93986C7.5123 8.34936 8.65918 9.49661 10.069 9.49661C11.4789 9.49661 12.6258 8.34936 12.6258 6.93986Z' fill='white'/%3E%3C/svg%3E%0A");}
                    }

                    &.download {
                        color: white;
                        &::before {content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.384 16.924C15.384 16.716 15.308 16.536 15.156 16.384C15.004 16.232 14.824 16.156 14.616 16.156C14.408 16.156 14.228 16.232 14.076 16.384C13.924 16.536 13.848 16.716 13.848 16.924C13.848 17.132 13.924 17.312 14.076 17.464C14.228 17.616 14.408 17.692 14.616 17.692C14.824 17.692 15.004 17.616 15.156 17.464C15.308 17.312 15.384 17.132 15.384 16.924ZM18.462 16.924C18.462 16.716 18.386 16.536 18.234 16.384C18.082 16.232 17.902 16.156 17.694 16.156C17.486 16.156 17.306 16.232 17.154 16.384C17.002 16.536 16.926 16.716 16.926 16.924C16.926 17.132 17.002 17.312 17.154 17.464C17.306 17.616 17.486 17.692 17.694 17.692C17.902 17.692 18.082 17.616 18.234 17.464C18.386 17.312 18.462 17.132 18.462 16.924ZM20 14.23V18.076C20 18.396 19.888 18.668 19.664 18.894C19.44 19.118 19.168 19.23 18.846 19.23H1.154C0.834 19.23 0.562 19.118 0.336 18.894C0.11 18.67 0 18.398 0 18.076V14.23C0 13.91 0.112 13.638 0.336 13.412C0.56 13.188 0.832 13.076 1.154 13.076H6.742L8.364 14.71C8.828 15.158 9.374 15.384 9.998 15.384C10.622 15.384 11.168 15.16 11.632 14.71L13.266 13.076H18.842C19.162 13.076 19.434 13.188 19.66 13.412C19.888 13.638 20 13.91 20 14.23ZM16.094 7.39202C16.23 7.72002 16.174 8.00002 15.926 8.23402L10.54 13.618C10.396 13.77 10.216 13.846 10 13.846C9.784 13.846 9.604 13.77 9.46 13.618L4.074 8.23402C3.826 8.00202 3.77 7.72202 3.906 7.39202C4.042 7.08002 4.278 6.92402 4.616 6.92402H7.692V1.53802C7.692 1.33002 7.768 1.15002 7.92 0.99802C8.072 0.84602 8.252 0.77002 8.46 0.77002H11.536C11.744 0.77002 11.924 0.84602 12.076 0.99802C12.228 1.15002 12.304 1.33002 12.304 1.53802V6.92202H15.38C15.722 6.92402 15.958 7.08002 16.094 7.39202Z' fill='white'/%3E%3C/svg%3E%0A");}
                    }
                }
            }

            .address {
                text-align: left;

                .qr {
                    padding: 0.5rem;
                    border: 4px solid $secondary-font-color;
                    border-radius: 1rem;
                }

                a {
                    color: $secondary-font-color;
                    text-decoration: underline;
                    margin: 0 0 0.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                }
                
                p {
                    margin: 0.25rem 0;
                    margin: 0.25rem 0;
                    font-size: 0.875rem;
                    color: $secondary-font-color;
                }

                h3 {
                    line-height: 32px;
                    color: $primary-color;
                }
            }
        }

        &-footer {
            background-color: $primary-color;
            background-image: url('http://ntaw.dev.lamb.com.au/wp-content/uploads/2021/04/process2-1.png');
            background-blend-mode: darken;
            padding: 2rem 0;

            .teams {
                &::before {content: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1510_5176)'%3E%3Cpath d='M36.9987 15.7185C39.1447 15.7185 40.8844 13.9788 40.8844 11.8328C40.8844 9.68674 39.1447 7.94702 36.9987 7.94702C34.8526 7.94702 33.1129 9.68674 33.1129 11.8328C33.1129 13.9788 34.8526 15.7185 36.9987 15.7185Z' fill='white'/%3E%3Cpath d='M33.8172 19.1116H40.7512V26.5393C40.7512 28.4531 39.197 30.0053 37.2832 30.0053H33.8172V19.1116ZM0.142517 4.25407V35.9479L22.9235 39.9685V0.233429L0.142517 4.25407ZM16.9809 15.2474L13.0191 15.3469V27.033H10.0468V15.544L6.08714 15.7431V13.0694L16.9809 12.4762V15.2474ZM24.9023 16.1393V32.9776H28.864C30.5056 32.9776 31.8363 31.6469 31.8363 30.0073V16.1393H24.9023ZM27.8746 6.23494C26.6841 6.23494 25.6296 6.77129 24.9023 7.60224V12.7931C25.6276 13.6241 26.6841 14.1604 27.8746 14.1604C28.9256 14.1604 29.9335 13.7429 30.6767 12.9998C31.4198 12.2566 31.8373 11.2487 31.8373 10.1977C31.8373 9.1467 31.4198 8.13876 30.6767 7.3956C29.9335 6.65244 28.9256 6.23494 27.8746 6.23494Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1510_5176'%3E%3Crect width='40.7947' height='40' fill='white' transform='translate(0.000366211)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
            }

            .linkedin {
                &::before {content: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1510_5179)'%3E%3Cpath d='M34.87 34.0887H28.9538V24.805C28.9538 22.5912 28.9075 19.7463 25.86 19.7463C22.775 19.7463 22.305 22.1475 22.305 24.6412V34.0875H16.3813V14.9987H22.0713V17.6025H22.1475C22.9425 16.0987 24.8763 14.5175 27.7613 14.5175C33.7625 14.5175 34.8763 18.4688 34.8763 23.6063V34.0875L34.87 34.0887ZM9.68879 12.39C9.23664 12.3902 8.78889 12.3011 8.3712 12.128C7.95351 11.9548 7.57408 11.701 7.25465 11.381C6.93522 11.061 6.68206 10.6811 6.50967 10.2631C6.33728 9.84506 6.24906 9.39715 6.25004 8.945C6.25079 8.26444 6.4533 7.59938 6.832 7.03391C7.21069 6.46844 7.74854 6.02795 8.37756 5.76814C9.00658 5.50833 9.69851 5.44086 10.3659 5.57427C11.0332 5.70767 11.646 6.03596 12.1268 6.51763C12.6076 6.9993 12.9348 7.61271 13.067 8.28031C13.1992 8.94791 13.1305 9.63971 12.8695 10.2683C12.6086 10.8968 12.1671 11.4339 11.6009 11.8115C11.0348 12.1892 10.3694 12.3905 9.68879 12.39ZM12.6563 34.0887H6.72004V15H12.6563V34.0887ZM37.84 0H3.74504C2.11629 0 0.795044 1.28875 0.795044 2.88375V37.1175C0.795044 38.7125 2.11629 40.0013 3.74504 40.0013H37.8338C39.46 40.0013 40.795 38.7125 40.795 37.1175V2.88375C40.795 1.28875 39.46 0 37.8338 0H37.84Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1510_5179'%3E%3Crect width='40' height='40' fill='white' transform='translate(0.795044)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
            }

            .sms {
                &::before {content: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1510_5181)'%3E%3Cpath d='M0.795044 5.47425C0.795044 4.12847 1.32183 2.83782 2.25951 1.88621C3.19719 0.934601 4.46896 0.399994 5.79504 0.399994L35.795 0.399994C37.1211 0.399994 38.3929 0.934601 39.3306 1.88621C40.2683 2.83782 40.795 4.12847 40.795 5.47425V25.7713C40.795 27.117 40.2683 28.4077 39.3306 29.3593C38.3929 30.3109 37.1211 30.8455 35.795 30.8455H11.83C11.1671 30.8457 10.5313 31.1131 10.0625 31.5889L2.93004 38.8273C2.75537 39.005 2.53267 39.1262 2.29013 39.1754C2.0476 39.2246 1.79612 39.1997 1.56754 39.1038C1.33896 39.0079 1.14355 38.8454 1.00604 38.6367C0.868525 38.4281 0.795096 38.1827 0.795044 37.9317L0.795044 5.47425ZM9.54504 8.01137C9.21352 8.01137 8.89558 8.14502 8.66116 8.38293C8.42674 8.62083 8.29504 8.94349 8.29504 9.27994C8.29504 9.61638 8.42674 9.93904 8.66116 10.1769C8.89558 10.4148 9.21352 10.5485 9.54504 10.5485H32.045C32.3766 10.5485 32.6945 10.4148 32.9289 10.1769C33.1633 9.93904 33.295 9.61638 33.295 9.27994C33.295 8.94349 33.1633 8.62083 32.9289 8.38293C32.6945 8.14502 32.3766 8.01137 32.045 8.01137H9.54504ZM9.54504 14.3542C9.21352 14.3542 8.89558 14.4878 8.66116 14.7257C8.42674 14.9636 8.29504 15.2863 8.29504 15.6228C8.29504 15.9592 8.42674 16.2819 8.66116 16.5198C8.89558 16.7577 9.21352 16.8913 9.54504 16.8913H32.045C32.3766 16.8913 32.6945 16.7577 32.9289 16.5198C33.1633 16.2819 33.295 15.9592 33.295 15.6228C33.295 15.2863 33.1633 14.9636 32.9289 14.7257C32.6945 14.4878 32.3766 14.3542 32.045 14.3542H9.54504ZM9.54504 20.697C9.21352 20.697 8.89558 20.8307 8.66116 21.0686C8.42674 21.3065 8.29504 21.6291 8.29504 21.9656C8.29504 22.302 8.42674 22.6247 8.66116 22.8626C8.89558 23.1005 9.21352 23.2341 9.54504 23.2341H22.045C22.3766 23.2341 22.6945 23.1005 22.9289 22.8626C23.1633 22.6247 23.295 22.302 23.295 21.9656C23.295 21.6291 23.1633 21.3065 22.9289 21.0686C22.6945 20.8307 22.3766 20.697 22.045 20.697H9.54504Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1510_5181'%3E%3Crect width='40' height='40' fill='white' transform='translate(0.795044)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
            }
        }

        @include breakpoint(small down) {
            padding-top: 2.75rem;

            &-header {
                height: 10rem;
            }

            &-body {
                margin: -6rem 0 2rem;

                .general {
                    h2 {margin-top: 1rem;}
                }

                .contact {
                    margin: 2rem 0 2.5rem;

                    .button {
                        min-width: -webkit-fill-available;
                        font-size: 14px;
        
                        &::before {margin-right: 0.5rem;}

                        // &.mobile {margin-right: 0.5rem;}
                        // &.email {margin: 0 0.25rem 0.75rem;}
                        // &.map {margin-left: 0.5rem;}
                    }
                }

                .address {
                    h3 {margin-top: 1.5rem;}
                }
            }
        }
    }
}

// Modify original header
.v-header-top {
    height: auto !important;
    
    .header {
        &-top-grid {
            justify-content: center;
        }

        &-logo {
            padding: 2rem 0;
            
            .logo {
                width: 6.85rem;
                height: 4.5rem;
                background-size: auto;
            }
        }

        &-top-content {
            display: none;
        }
    }

    @include breakpoint(medium down) {
        .header {
            &-logo {
                padding: 1rem 0;
            }
        }
    }
}