@import "foundation-common";
@import "mixins";
@import "theme";

.mod-logo-list {
  .logo {
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;

      img {
        width: 290px;
        height: 120px;
        margin: 30px 0;
      }

      &-content {
        height: 50px;
        margin-bottom: 30px;

        h3 { 
          margin: 0;
          padding: 0 70px;
          text-align: center;
        }
      }

      @include breakpoint(large) {
        margin-bottom: 60px;
      }
    }
  }
}
