@import "foundation-common";
@import "theme";
@import "mixins";

.mod-banner {
  overflow: hidden;
  padding: 0;
  height: 500px;

  @include breakpoint(medium) {
    height: 500px;
  }

  @include breakpoint(large) {
    height: 640px;
  }

  @include breakpoint(xlarge) {
    height: 640px;
  }

  // Slider
  // -------------------------

  .slider {
    @include position-absolute();

    .glide__track,
    .glide__slides {
      height: 100%;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: relative;
  }

  // Content
  // -------------------------
  .banner {
    &-slide-content {
      width: 470px;
      z-index: 2;

      @include breakpoint(medium down) { width: 370px; }
      @include breakpoint(small down) { width: 280px; }
    }

    &-subtitle {
      margin: 0;
    }

    &-title {
      margin: 0.08em 0 0.26em;
    }

    &-buttons {
      margin-top: 20px;
    }
  }

  // Animation
  // -------------------------

  // Hidden State
  .slide:not(.slide-animate) {
    .banner {
      &-subtitle {
        opacity: 0;
        transform: translateY(20px);
      }

      &-title {
        opacity: 0;
        transform: translateY(20px);
      }

      &-content {
        opacity: 0;
        transform: translateY(20px);
      }

      &-buttons {
        opacity: 0;
        transform: translateY(20px);
      }
    }
  }

  // Active State

  .banner {
    &-subtitle {
      $delay: 0ms;

      transition: transform 800ms $delay, opacity 800ms $delay;
    }

    &-title {
      $delay: 150ms;

      transition: transform 800ms $delay, opacity 800ms $delay;
    }

    &-content {
      $delay: 300ms;

      transition: transform 800ms $delay, opacity 800ms $delay;
    }

    &-buttons {
      $delay: 450ms;

      transition: transform 800ms $delay, opacity 800ms $delay;
    }
  }
}
