@import "foundation-common";
@import "theme";

.mod-post {
    .content {
        margin: auto;

        h5 {
            color: $secondary-font-color;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;

            strong {
                font-weight: 400;
                font-family: $secondary-font-family;
            }
        }

        li {font-family: $secondary-font-family}

        img {display: flex;}

        @include breakpoint(medium down) {
            width: 100%;
        }
    }

    .social {
        @include breakpoint(medium down) {
            width: 100%;
        }
    }

    a {
        color: $primary-color;
    }
}