<div class="template-announcement cell large-12" data-tab="{{tab}}" data-autoload-template="announcement">
    <a class="template-announcement-content" href="{{file}}" download target="_blank">
        <div class="detail">
            <h4>{{date}}</h4> 
            <h3>{{title}}</h3>
        </div>

        <div class="icon">
            <svg width="18" height="31" viewBox="0 0 18 31" fill="#272628" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3857 21.3635C17.5021 21.4796 17.5945 21.6175 17.6575 21.7694C17.7205 21.9212 17.7529 22.084 17.7529 22.2485C17.7529 22.4129 17.7205 22.5757 17.6575 22.7275C17.5945 22.8794 17.5021 23.0174 17.3857 23.1335L9.8857 30.6335C9.76958 30.7499 9.63165 30.8422 9.47978 30.9052C9.32792 30.9683 9.16512 31.0007 9.0007 31.0007C8.83628 31.0007 8.67348 30.9683 8.52162 30.9052C8.36975 30.8422 8.23181 30.7499 8.1157 30.6335L0.6157 23.1335C0.380983 22.8987 0.249123 22.5804 0.249123 22.2485C0.249123 21.9165 0.380983 21.5982 0.6157 21.3635C0.850416 21.1287 1.16876 20.9969 1.5007 20.9969C1.83264 20.9969 2.15098 21.1287 2.3857 21.3635L9.0007 27.981L15.6157 21.3635C15.7318 21.2471 15.8697 21.1547 16.0216 21.0917C16.1735 21.0287 16.3363 20.9962 16.5007 20.9962C16.6651 20.9962 16.8279 21.0287 16.9798 21.0917C17.1316 21.1547 17.2696 21.2471 17.3857 21.3635Z" fill="#272628"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00049 0.998596C9.33201 0.998596 9.64995 1.13029 9.88437 1.36471C10.1188 1.59913 10.2505 1.91708 10.2505 2.2486L10.2505 28.4986C10.2505 28.8301 10.1188 29.1481 9.88437 29.3825C9.64995 29.6169 9.33201 29.7486 9.00049 29.7486C8.66897 29.7486 8.35102 29.6169 8.1166 29.3825C7.88218 29.1481 7.75049 28.8301 7.75049 28.4986L7.75049 2.2486C7.75049 1.91708 7.88218 1.59913 8.1166 1.36471C8.35102 1.13029 8.66897 0.998596 9.00049 0.998596Z" fill="#272628"/>
            </svg>
        </div>
    </a>
</div>
