@import "foundation-common";
@import "theme";
@import "mixins";

.template-announcement {
  display: none;
  margin-bottom: 0 !important;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 25px;

    &:hover {
      svg {
        transform: translate3d(0px, 8px, 0px);
        transition: 500ms ease-in-out;

        path {fill: $sun;}
      }
    }

    .detail {
      h4 {
        margin-bottom: 5px;
        margin-top: 0;
      }

      h3 {margin: 0;}
    }

    .icon {
      margin-left: 25px;
      height: 32px;
      color: $primary-font-color;
    }
  }
}

.active {display: block;}