@import "mixins";
@import "theme";

.mod-accordion {
  .accordion {
    // Item
    &-item {
      border: none;
    }

    // Title
    &-title {
      min-height: 70px;
      padding: 10px 20px 10px 0;
      cursor: pointer;
      @include no-select();

      display: flex;
      appearance: none;
      background: none;
      border-width: 1px 0 0 0;
      border-color: $border-color;
      border-style: solid;
      border-radius: none;
      text-align: inherit;
      color: inherit;
      width: 100%;
      &.grid-margin-x {
        width: calc(100% + #{rem-calc(map-get($grid-margin-gutters, small))});
        @include breakpoint(medium) {
          width: calc(
            100% + #{rem-calc(map-get($grid-margin-gutters, medium))}
          );
        }
      }
    }

    &-title-text {
      margin: 0;
    }

    &-toggle-icon {
      $icon-size: 12px;
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        width: $icon-size;
        height: 2px;
        background: currentColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 250ms ease-in-out;
      }

      &::after {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    // Content
    &-content {
      float: right;
      width: 50%;
      max-height: 300px;
      transition: max-height 300ms;  
      overflow: hidden;

      p {padding-bottom: 30px;}

      a {
        color: $primary-font-color;

        &:hover {
          color: $primary-color;
        }
      }

      @include breakpoint (medium down) {
        width: 100%;
      }
    }

    &-item {
      &.active {
        .accordion-toggle-icon {
          &::after {
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0.3;
          }
          &::before {
            transform: translate(-50%, -50%) rotate(135deg);
            opacity: 0.3;
          }
        }
      }
      &:not(.active) {
        .accordion-content {
          overflow: hidden;
          max-height: 0;
          transition: max-height 500ms ease-out;  
        }
      }
    }
  }
}
