@import "theme";

.title-block {
  position: relative;
  margin-bottom: 3.5rem;

  > *:last-child {
    margin-bottom: 0;
  }

  &-subtitle {
    margin: 0 0 0.8em;
  }

  &-title {
    margin: 0;
  }

  &-intro {
    margin-bottom: 0;
  }
}
