@import "theme";

.social-share-header {
  margin-top: 0;
}

.component-social-share {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  color: $secondary-color;
  font-family: $secondary-font-family;

  
}

$social-spacing: 7px;

.shares {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -$social-spacing;
  margin-right: -$social-spacing;
  font-size: 30px;
  border-top: 1px solid $space;
}

.share-button-wrapper {
  border-radius: 34px;
  width: 40px;
  height: 40px;
  border: 2px solid $space;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 5px;

  .icon {
    width: 18px;
    height: 18px;
    color: $space;
  }

  &:hover {
    background-color: $space;
    transition: background-color 500ms ease-in;

    .icon {color: white;}
  }
}
