@import "foundation";

@mixin module-padding(
  $padding-small: null,
  $padding-medium: null,
  $padding-large: null,
  $padding-x-large: null
) {
  // Small
  @include breakpoint(medium down) {
    @if $padding-small {
      padding: $padding-small;
    } @else {
      padding: $module-padding-small;
    }
  }

  // Medium
  @include breakpoint(medium) {
    @if $padding-medium {
      padding: $padding-medium;
    } @else {
      padding: $module-padding-medium;
    }
  }

  // Large
  @include breakpoint(large) {
    @if $padding-large {
      padding: $padding-large;
    } @else {
      padding: $module-padding-large;
    }
  }

  // X-large
  @include breakpoint(xlarge) {
    @if $padding-x-large {
      padding: $padding-x-large;
    } @else {
      padding: $module-padding-x-large;
    }
  }
}
