// ===============================================================//
// Placeholder
// ===============================================================//
//
// Outputs vendor-prefixed placeholders for styling. Must be nested in a rule-set.
//
// ===============================================================//
// Usage
// ===============================================================//
//
//  SCSS:
//
//      input {
//          @include placeholder() {
//              color: red;
//              text-transform: uppercase;
//          }
//      }
//
//  CSS:
//
//      input::-webkit-input-placeholder { color: red; text-transform: uppercase; }
//      input::-moz-placeholder { color: red; text-transform: uppercase; }
//      input:-moz-placeholder { color: red; text-transform: uppercase; }
//      input:-ms-input-placeholder { color: red; text-transform: uppercase; }
//
// ===============================================================//

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
