@import "foundation-common";
@import "mixins";
@import "theme";

@import "menu-top";
@import "mobile-menu-toggle";

// =====================================================
// MENU
// =====================================================
// Variables
// Mobile Menu
//  - Overflow
//  - Navigation Container
//  - Menu
//  - Menu Item
//  - Sub Menu
// Desktop Menu
//  - Menu Item
//  - Menu Item Tier 1
//  - Sub Menu
// =====================================================

// Variables
// -----------------------------------------------------

// Mobile
$mobile-menu-top-offset: 70px;
$mobile-menu-transition-duration: 400ms;
$mobile-menu-background-color: #000;
$mobile-menu-item-height: 40px;
$mobile-menu-item-styles: (
  color: #fff,
  font-size: 20px
);

// Desktop
$desktop-menu-item-styles: (
  default: (
    padding: 0 25px,
    font-size: 1rem,
    color: #fff,
    transition: color 200ms,
    text-transform: uppercase,
    font-weight: 600
  ),
  hover: (
    color: #fff,
    text-decoration: none
  ),
  active: (
    color: #fff
  )
);
$desktop-submenu-styles: (
  text-align: left,
  background: #fff,
  border-top: 3px solid $primary-color,
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.06)
);
$desktop-submenu-item-styles: (
  default: (
    padding: 10px 26px,
    white-space: nowrap,
    font-size: 14px,
    color: #000,
    text-align: center,
    transition: #{color 200ms,
    background 200ms}
  ),
  hover: (
    color: #fff,
    background: #444
  ),
  active: (
    color: #fff,
    background: #444
  )
);

// Menu
// -----------------------------------------------------
.menu-wrap {
  .menu {
    margin: 0;
    list-style: none;
  }

  .sub-menu {
    margin: 0;
    list-style: none;
  }

  a {
    @include no-select();
  }
}

// Mobile Menu
// -----------------------------------------------------
.menu-wrap {
  @include breakpoint(medium down) {
    // Overflow
    // -------------------------
    @at-root body.menu-active {
      overflow: hidden;
    }

    // Navigation Container
    // -------------------------
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 600;
      padding: $mobile-menu-top-offset 10px 0;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-110%);

      // Wordpress Bar
      .admin-bar & {
        top: $wp-adminbar-height;

        @include breakpoint($wp-tablet-adminbar-breakpoint) {
          top: $wp-adminbar-height-desktop;
        }
      }

      // Animation
      &.animating {
        transition: opacity $mobile-menu-transition-duration,
          visibility $mobile-menu-transition-duration,
          transform 0ms $mobile-menu-transition-duration;
      }

      &.is-opened {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);

        &.animating {
          transition: opacity $mobile-menu-transition-duration,
            visibility 0ms 0ms, transform 0ms 0ms;
        }
      }

      // Background
      &::before {
        @include pseudo-elem();

        position: fixed;
        top: -20px;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: -1;
        background: $mobile-menu-background-color;
      }
    }

    // Menu
    // -------------------------
    .menu {
      height: calc(100% - #{$mobile-menu-top-offset});
      overflow: auto;
      padding-bottom: 40px;
    }

    // Menu Item
    // -------------------------
    .menu-item {
      position: relative;

      > a {
        display: block;
        font-weight: 500;
        height: $mobile-menu-item-height;
        line-height: $mobile-menu-item-height;
        text-transform: uppercase;
        @include get-css-attributes($mobile-menu-item-styles);
      }
    }

    .sub-menu-toggle {
      position: absolute;
      display: block;
      top: 0;
      right: 25%;
      height: $mobile-menu-item-height;
      width: 30px;
      cursor: pointer;
      text-align: center;
      z-index: 2;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -3px;
        margin-left: -6px;
        @include css-triangle(6px, $sun, down);
      }
    }

    // Sub Menu
    // -------------------------
    .sub-menu {
      display: none;
    }

    .open {
      > .sub-menu-toggle {
        transform: scale(1, -1);
      }

      > .sub-menu {
        display: block;
        
        a {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

// Desktop Menu
// -----------------------------------------------------
.menu-wrap {
  @include breakpoint(large) {
    // Menu Item
    // -------------------------

    .menu {
      a {
        display: block;
      }
    }

    // Menu Item Tier 1
    // -------------------------

    .menu {
      > .menu-item {
        position: relative;
        display: inline-block;
        margin: 0;

        // Default state
        > a {
          @include get-css-attributes(
            map-get($desktop-menu-item-styles, default)
          );
        }

        // Active state
        &.active {
          > a {
            @include get-css-attributes(
              map-get($desktop-menu-item-styles, active)
            );
          }
        }

        // Hover state
        &:hover {
          > a {
            @include get-css-attributes(
              map-get($desktop-menu-item-styles, hover)
            );
          }
        }

        &.menu-item-has-children {
          > a {
            &::after {
              content: "";
              background-image: url(~icons/arrows/angle-down.svg);
              -svg-fill: white;
              width: 8 / 12 * 1em;
              height: 8 / 12 * 1em;
              margin-left: 5px;
              display: inline-block;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    // Sizes
    @include -zf-each-breakpoint {
      @each $headerBreakpoint, $headerAttributes in $header {
        @if $headerBreakpoint ==
          $-zf-size and
          $-zf-size !=
          small and
          $-zf-size !=
          medium
        {
          $height: map-deep-get($headerAttributes, height);

          .menu {
            > .menu-item {
              > a {
                height: $height;
                line-height: $height;
              }
            }
          }
        }
      }
    }

    // Sub Menu
    // -------------------------
    .sub-menu {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include get-css-attributes($desktop-submenu-styles);

      .menu-item {
        // Default state
        > a {
          @include get-css-attributes(
            map-get($desktop-submenu-item-styles, default)
          );
        }

        // Active state
        &.active {
          > a {
            @include get-css-attributes(
              map-get($desktop-submenu-item-styles, active)
            );
          }
        }

        // Hover state
        &:hover {
          > a {
            @include get-css-attributes(
              map-get($desktop-submenu-item-styles, hover)
            );
          }
        }
      }
    }

    .menu-item {
      &:hover > .sub-menu,
      a[aria-expanded="true"] ~ .sub-menu {
        display: block;
      }
    }
  }
}
