@import "mixins";
@import "foundation-common";
@import "theme";

// =====================================================
// MENU TOP
// =====================================================
// Variables
// Menu Top
//  - Menu
//      - Item
//      - Anchor
//  - Top Right Menu
//  - Sub Menu
//      - Menu
//      - State
// =====================================================

// Variables
// -----------------------------------------------------
$menu-item-styles: (
  default: (
    font-size: 1rem,
    color: white,
    transition: background 200ms,
    font-weight: 400
  ),
  hover: (
    color: $primary-color,
    transition: 250ms ease-in-out,
  ),
  active: ()
);

// Menu Top
// -----------------------------------------------------
.menu-top-wrap {
  display: inline-block;
  vertical-align: middle;

  // Menu
  // -------------------------

  .menu {
    list-style: none;
    margin: 0;
    @include clearfix();

    // Item
    > .menu-item {
      position: relative;
      float: left;
      padding: 0;
      margin: 0;


      &:not(:last-of-type) > a::after {
        content: "";
        display: inline-block;
        padding: 0 0.25em;
      }

      // Default state
      > a {
        display: block;
        text-decoration: none !important;
        margin-left: 30px;
        text-transform: uppercase;
        color: red;
        @include get-css-attributes(map-get($menu-item-styles, default));
      }

      // Active state
      &.active {
        > a {
          @include get-css-attributes(map-get($menu-item-styles, active));
        }
      }

      // Hover state
      &:hover {
        > a {
          @include get-css-attributes(map-get($menu-item-styles, hover));
        }

        ul {
          visibility: visible;
          opacity: 1;
        }
      }

      // Sub-menu
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: $secondary-color;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
        transition: visibility 0s, opacity 0.25ms linear;

        li {
          list-style-type: none;
          padding: 4px 16px;
          min-width: 190px;
          width: max-content;

          a {
            text-transform: uppercase;
          }
        }
      }

      // Sizes
      @include -zf-each-breakpoint {
        @each $headerBreakpoint, $headerAttributes in $header {
          @if $headerBreakpoint == $-zf-size {
            $height: map-deep-get($headerAttributes, top-bar-height);

            > a {
              height: $height;
              line-height: $height;
            }
          }
        }
      }
    }
  }
}
