@import "mixins";
@import "theme";

// =====================================================
// MOBILE MENU TOGGLE
// =====================================================
// Variables
// =====================================================

// Variables
// -----------------------------------------------------
$menu-toggle-color: $primary-font-color;
$menu-toggle-active-color: #fff;

// Menu Toggle
// -----------------------------------------------------
.mobile-menu-toggle {
  display: block;
  height: 60px;
  width: 60px;
  z-index: 830;
  position: relative;
  cursor: pointer;
  @include no-select();

  transition: transform 200ms ease-in;
  color: $menu-toggle-color;
  outline: none;
  background: none;
  border: none;

  &:focus {
    outline: none;
    color: $primary-color;
  }

  @include breakpoint(large) {
    display: none;
  }

  // Hamburger lines
  // -------------------------
  span,
  span::before,
  span::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    height: 2px;
    width: 22px;
    background: currentColor;
    transition: all 200ms ease-in;
  }

  span {
    top: 50%;
    margin-top: -1px;

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  // Menu Active
  &.active {
    transform: rotate(90deg);
    color: $menu-toggle-active-color;

    // Hamburger lines
    span {
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &::after {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}
