/* stylelint-disable scss/media-feature-value-dollar-variable */
// Form
// -----------------------------------------------------
::placeholder {
  // Use color inherit / placeholder shown to allow placeholder colour to be animated with input transition value
  color: inherit;
}

textarea {
  resize: vertical;
}

input,
textarea,
select {
  background-color: white;
  border: 1px solid $border-color;
  color: $secondary-font-color;
  padding: 15px 20px;
  line-height: 1.3;
  font-size: 16px; // Min 16px to avoid IOS zoom
  appearance: none;
  // transition: color 0.2s 0.15s, box-shadow 0.2s;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  border-radius: 2px;
  @include breakpoint(medium) {
    font-size: 0.75rem;
  }

  // High Contrast mode removes all background images, making background-image based inputs inaccessible
  @media screen and (-ms-high-contrast: active) {
    appearance: auto;
  }

  &.dirty:invalid {
    border-color: $warning-color;
    outline-color: $warning-color;
    box-shadow: 0 0 0 1px rgba($warning-color, 0.3),
      0 0 1px 2px rgba($warning-color, 0.2);
  }

  &:focus {
    color: $secondary-font-color;
  }

  &:focus,
  &.dirty:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 1px rgba($primary-color, 0.3),
      0 0 1px 2px rgba($primary-color, 0.2);
    outline: none;
  }

  &:disabled {
    background-color: $light-bg-color;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  height: rem-calc(32);
  width: rem-calc(32);
  margin-right: 7px;
  margin-bottom: 13px;
  vertical-align: rem-calc(-13);
  padding: 0;
  border: 1px solid $border-color;

  @include breakpoint(medium) {
    height: rem-calc(16);
    width: rem-calc(16);
  }
  + label {
    font-size: 1rem;
  }
}

input[type="radio"] {
  border-radius: 15px;
  &:checked {
    background-image: radial-gradient(
      ellipse at center,
      $primary-color 0%,
      $primary-color 39%,
      transparent 45%
    );
  }
}

input[type="checkbox"] {
  // TODO: ICON
  background-image: url(~icons/forms/checkmark.svg);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.15s ease-out;
  &:checked {
    color: $primary-color;
    background-size: 12 / 17 * 100%;
  }
}

.select-wrap {
  position: relative;
  select {
    display: block;
    width: 100%;
    padding-right: 30px;
    option {
      background: #fff;
      color: #000;
      font-size: 12px;
    }
  }

  &::after {
    @include pseudo-elem();

    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: rem-calc(-5);
    vertical-align: middle;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: rotate(45deg);
    width: rem-calc(7.5);
    height: rem-calc(7.5);
  }
}
