@import "foundation";

/* Include the outline only if tabbed browsing is being used */

body:not(.user-is-tabbing):not(.no-js) button:focus,
body:not(.user-is-tabbing):not(.no-js)  input:focus,
body:not(.user-is-tabbing):not(.no-js)  select:focus,
body:not(.user-is-tabbing):not(.no-js)  a:focus,
body:not(.user-is-tabbing):not(.no-js)  textarea:focus {
  outline: none;
}

.grid-container {

  //@include breakpoint(hdef) {
  //  max-width: 75%;
  //}
}