// =====================================================
// PAGE
// =====================================================
// HTML, Body
// =====================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > * {
    flex-shrink: 0;
  }
}

footer {
  width: 100%;
}
