.rte {
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-block-image {
  max-width: 100%;
  margin: 0;
  display: block;
  img {
    max-width: 100%;
  }
}
