// =====================================================
// TYPOGRAPHY
// =====================================================
// Add any webfonts, typography overrides here
// =====================================================
// Typography
// =====================================================

@import "foundation";
@import "foundation-common";
@import "theme";

html {
  font-family: $primary-font-family;
  font-size: $base-font-size;
  line-height: $base-lineheight;
  color: $primary-font-color;

  //@include breakpoint(hdef) {
  //  font-size: $base-font-size * 1.2;
  //}
}

body {
  font-size: 1rem;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  text-decoration: none;
  margin: 2.5rem 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  position: relative;
  text-transform: uppercase;
  color: $secondary-font-color;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative;
  text-transform: uppercase;
  color: $secondary-font-color;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $secondary-font-color;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: $secondary-font-color;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
}

.h1,
%h1 {
  @extend h1;
}

.h2,
%h2 {
  @extend h2;
}

.h3,
%h3 {
  @extend h3;
}

.h4,
%h4 {
  @extend h4;
}

.h5,
%h5 {
  @extend h5;
}

.h6,
%h6 {
  @extend h6;
}

// Paragraph
p {
  margin: 1rem 0;
  font-family: $secondary-font-family;
}

// Blockquote
blockquote {
  margin: 2rem 0 2rem 2rem;
  font-size: 1.2rem;
  line-height: 1.4;

  > p {
    margin: 0;
  }

  @include breakpoint(medium) {
    font-size: 1.25rem;
  }

  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}

// Anchor
a {
  text-decoration: none;

  &:not([class]) {
    color: white;

    &:hover {
      color: $primary-color;
    }

    &:active {
      transform: translateY(1px);
      color: $primary-color;
    }

    &:focus {
      color: $primary-color;
    }
  }
}

// Hero Title
.large-hero-title {
  font-size: 2.5rem;
  line-height: 3rem;

  @include breakpoint(medium) {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  @include breakpoint(large) {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.hero-title {
  font-size: 2.5rem;
}

// Feature / Intro paragraphs
.lead,
%lead {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 2rem 0;
}

.large-label,
%large-label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.small-label,
.gfield_label,
%small-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.text-link,
%text-link {
  font-size: 0.75rem;
  color: $primary-color;
  text-transform: uppercase;
}

// Lists
ul,
ol {
  margin: 1rem 0 1rem 1rem;
  padding-left: 1.3rem;

  li {
    margin: 0.5em 0;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.pusher {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-font-color;
}
