// Lazy Image
.lazy-image {
  background: 50% 50% / cover no-repeat transparent;
  opacity: 0;
  transition: opacity 600ms;

  &.lazy-success {
    opacity: 1;
  }
}

// Fix for lazy images on <img> elements
img.lazy-image:not(.lazy-success) {
  width: 1px;
  height: 1px;
}

// Heights
.h-100 {
  height: 100%;
}

// Text
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@include breakpoint(medium) {
  .medium-text-left {
    text-align: left;
  }

  .medium-text-center {
    text-align: center;
  }

  .medium-text-right {
    text-align: right;
  }
}

@include breakpoint(large) {
  .large-text-left {
    text-align: left;
  }

  .large-text-center {
    text-align: center;
  }

  .large-text-right {
    text-align: right;
  }
}

// Colours
.color-white {
  color: white;
}

.dash {
  padding-bottom: 20px;

  &::after {
    content: '';
    width: 60px;
    height: 5px;
    background: $sun;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-center {
    padding-bottom: 20px;
    
    &::after {
      content: '';
      width: 60px;
      height: 5px;
      background: $sun;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

a:hover {transition: 250ms ease-in-out;}

// Global
.hide {display: none;}
.p-absolute {position: absolute !important;}