#wpadminbar {
  position: fixed !important;
}

// Wordpress WYSIWYG image classes
// -------------------------------

.alignnone {
  margin: 5px 20px 20px 0;
}

.alignleft,
.alignright,
.aligncenter {
  margin: 20px auto;
  text-align: center;
}

.alignleft {
  @include breakpoint(medium) {
    float: left;
    margin: 50px 40px 40px 0;
    text-align: left;
  }
}

.alignright {
  @include breakpoint(medium) {
    float: right;
    margin: 50px 0 40px 40px;
    text-align: right;
  }
}

.alignright,
.alignleft {
  + * {
    margin-top: 50px;
    margin-top: calc(50px + 1rem);
  }
}

.aligncenter {
  margin: 50px auto 35px;
}

.wp-caption {
  max-width: 96%; /* Image does not overflow the content area */
  padding: 0;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 0 8px;
    padding: 0;
    border: 0 none;
  }
}

.wp-caption-text {
  margin: 0;
}
