@import "mixins";
@import "theme";

.mod-call-to-action {
  @include module-padding(40px 0, 80px 0, 100px 0, 110px 0);

  p {
    margin: 1rem 0;
    font-size: 20px;
    line-height: 30px;
  }

  .overlay {opacity: 0 !important;}
}

.mod-call-to-action.theme-default {
  .rte {
    a {
      color: $primary-color;
  
      &:hover {color: $secondary-color;}
    }
  }
}